
.custom-radio input {
  display: none;
}
.radio-btn {
  margin: 5px;
  width: 130px;
  height: 150px;
  border: 3px solid transparent;
  display: inline-block;
  border-radius: 10px;
  position: relative;
  text-align: center;
  box-shadow: 0 0 20px #c3c3c367;
  cursor: pointer;
}

.radio-btn > i {
  color: #ffffff;
  background-color: #002d84;
  font-size: 20px;
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%) scale(4);
  border-radius: 50px;
  padding: 3px;
  transition: 0.2s;
  pointer-events: none;
  opacity: 0;
}

.radio-btn .hobbies-icon {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radio-btn .hobbies-icon img {
  width: 100%;
}

.radio-btn .hobbies-icon h3 {
  color: #002d84;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.custom-radio input:checked + .radio-btn {
  border: 3px solid #002d84;
}

.custom-radio input:checked + .radio-btn > i {
  opacity: 1;
  transform: translateX(-50%) scale(1);
}
.in_intructions{
    padding-left: 20px;
}
.in_intructions h3{
  color: #002d84;
}
.in_intructions p:nth-child(3),  .in_intructions p:nth-child(4), .in_intructions p:nth-child(6), .in_intructions p:nth-child(7){
    padding-left: 50px;
    color: #002d84;
    font-weight: 700;
}

.in3_1{
  padding: 20px;
}
.in3_1 h2{
  color: blue;
  font-weight: 700;
}
.in3_1 img{
  width: 40%;
  margin-bottom: 2%;
}
.in3_1 h3{
  font-size: 20px;
}
.in3_1 p{
  font-size: 15px;
}
.in3_1 span{
  font-size: 15px;
}
.in3_2nd{
  overflow-y: scroll;
}
.in3_form4{
}
.form4_first{
  display: flex;
  flex-direction: row;
}
.form4_first img{
  width: 10%;
  height: 10%;
  margin: 20px;
}
.form4_first div{
  justify-content: center;
}
.form4_first p{
 font-size: 13px;
}
.form4_second{
display: flex;
flex-direction: row;
background-color: #C0C0C0;
margin-bottom: 10px;
}
.form4_second img{
width: 10%;
height: 10%;
margin: 20px;

}
.form4_second div{
justify-content: center;
}
.form4_second p{
font-size: 13px;
}