.form1{
  width: 700;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.form1 .__div{
  display:flex; 
  justify-content: center;
}
.f1_div p{
  display: inline-block;
  justify-content: center;
  width: 200px;
  text-align: justify;
  position: relative;
  top: -10px;
}
.f1_input{
  line-height: 2em;
  width: 22em;
  margin-bottom: 40px;
  font-size: 20px;
}
.f1_error{
  color: red;
  position: relative;
   top: -30px;
   right:-290px;
}

.form2{
  width: 700;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.f2_error{
  color: red;
  display: flex;
  justify-content: center;
}
.inButton{
  display: flex;
  justify-content: center;
}
.radio{

    justify-content: center;
    flex-direction: row;
}
.custom-radio input {
    display: none;
  }
  .radio-btn {
    margin: 5px;
    width: 130px;
    height: 150px;
    border: 3px solid transparent;
    display: inline-block;
    border-radius: 10px;
    position: relative;
    text-align: center;
    box-shadow: 0 0 20px #c3c3c367;
    cursor: pointer;
  }

  .radio-btn > i {
    color: #ffffff;
    background-color: #002d84;
    font-size: 20px;
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%) scale(4);
    border-radius: 50px;
    padding: 3px;
    transition: 0.2s;
    pointer-events: none;
    opacity: 0;
  }

  .radio-btn .hobbies-icon {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .radio-btn .hobbies-icon img {
    width: 100%;
  }

  .radio-btn .hobbies-icon h3 {
    color: #002d84;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .custom-radio input:checked + .radio-btn {
    border: 3px solid #002d84;
  }

  .custom-radio input:checked + .radio-btn > i {
    opacity: 1;
    transform: translateX(-50%) scale(1);
  }
  .in_intructions{
      padding-left: 20px;
  }
  .in_intructions h3{
    color: #002d84;
  }
  .in_intructions p:nth-child(3),  .in_intructions p:nth-child(4), .in_intructions p:nth-child(6), .in_intructions p:nth-child(7){
      padding-left: 50px;
      color: #002d84;
      font-weight: 700;
  }

  .navigationBtns{
    position: relative;
    left: 500px;
  }
