.item {
  background: rgb(245, 245, 245);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.item__image {
  width: 100%;
  height: 180px;
  object-fit: contain;
}

.item__name {
  margin: 10px 0;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.item__person {
  margin: 0;
}

.item__price {
  margin: 5px 0 0 0;
  color: green;
}

.item__button {
  background: rgb(48, 64, 141);
  color: white;
  border: none;
  margin-top: 10px;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  text-decoration: none;
}

.item__button:hover {
  transform: scale(1.025);
}
