.breadcrumb {
  display: flex;
  list-style: none;
  padding: 0;
}

.breadcrumb__item a {
  color: rgb(48, 64, 141);
  font-weight: 600;
  text-decoration: none;
}
.breadcrumb__item a:hover {
  text-decoration: underline;
}

.breadcrumb__item::after {
  content: " / ";
}
