.details {
  display: flex;
  flex-direction: column;
}
.details__person {
  display: flex;
  align-items: center;
}

.details__quantity {
  align-items: center;
  display: flex;
}

.details__quantity p {
  margin: 0 1rem 0 0;
}
.details__quantity_buttons {
  display: flex;
  align-items: center;
}
.details__price {
  margin-top: 0;
  font-size: 30px;
  color: green;
}
.details__quantity_buttons p {
  padding: 0.375rem;
  border-top: 1px solid rgb(189, 189, 189);
  border-bottom: 1px solid rgb(189, 189, 189);
  margin: 0;
}

.details__quantity_buttons button {
  border: 1px solid rgb(189, 189, 189);
  padding: 0.5rem;
  background: transparent;
  cursor: pointer;
}

.details__quantity_buttons button:hover {
  background: gray;
}

.details__buttons {
  align-self: flex-end;
}
.details__buttons button {
  border: 1px solid rgb(48, 64, 141);
  background: transparent;
  padding: 0.5rem 1rem;
  color: rgb(48, 64, 141);
  font-weight: 600;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.details__buttons a {
  text-decoration: none;
  background: rgb(48, 64, 141);
  padding: 0.5rem 1rem;
  color: white;
  border-radius: 5px;
  margin-inline-start: 0.5rem;
  font-weight: 600;
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  .details__buttons {
    margin-top: 1rem;
    align-self: center;
  }
  .details__quantity {
    align-self: center;
  }
}
