@mixin Transition($value) {
  transition: $value;
  -moz-transition: $value;
  -webkit-transition: $value;
  -o-transition: $value;
  -ms-transition: $value;
}

@mixin Animation($value) {
  animation: $value;
  -moz-animation: $value;
  -webkit-animation: $value;
  -o-animation: $value;
}

@mixin Transform($value) {
  transform: $value;
  -moz-transform: $value;
  -ms-transform: $value;
  -webkit-transform: $value;
  -o-transform: $value;
}

@mixin TransformOrigin($value) {
  transform-origin: $value;
  -moz-transform-origin: $value;
  -ms-transform-origin: $value;
  -webkit-transform-origin: $value;
  -o-transform-origin: $value;
}

@mixin breakpoint-screen($breakpoint) {
  @if $breakpoint == xxl {
    @media only screen and (max-width: 87.5rem) {
      @content;
    }
  }
  @if $breakpoint == xl {
    @media only screen and (max-width: 75rem) {
      @content;
    }
  }
  @if $breakpoint == lg {
    @media only screen and (max-width: 62rem) {
      @content;
    }
  }
  @if $breakpoint == md {
    @media only screen and (max-width: 48rem) {
      @content;
    }
  }
  @if $breakpoint == sm {
    @media only screen and (max-width: 36rem) {
      @content;
    }
  }
  @if $breakpoint == xs {
    @media only screen and (max-width: 36rem) {
      @content;
    }
  }
}
