//Fonts
$Raleway: "Raleway", sans-serif;

// common color
$black: #000;
$black-111: #111;
$black-222: #222;
$black-333: #333;
$black-444: #444;
$black-555: #555;
$black-666: #666;
$black-777: #777;
$black-888: #888;
$black-999: #999999;
$black-45: #454545;
$black-0e: #0e0e0e;
$white: #fff;
$white-f1: #f1f1f1;
$white-f2: #f2f2f2;
$white-f3: #f3f3f3;
$white-f4: #f4f4f4;
$white-f5: #f5f5f5;
$white-f6: #f6f6f6;
$white-f7: #f7f7f7;
$white-f8: #f8f8f8;
$white-f9: #f9f9f9;
$white-fa: #fafafa;
$white-fb: #fbfbfb;
$white-fc: #fcfcfc;
$white-fd: #fdfdfd;
$white-fe: #fefefe;
$gray-light: #ddd;
$gray-lighter: #eee;
$gray-ccc: #ccc;

$red: #e74c3c;

//Theme color
$gold: #d8b638;
$blue: #354092;
$violet: #230871;
$gray: #534e4e;
$light-blue: #616aaa;
