html {
    height: 100%;
  }
  /* body {
    background: url('../styles/login-background.png') no-repeat;
    background-size: cover;
    height: 100%;
  } */
  
  body {
    height: 100%;
  }
  
  .login-container {
    /* background: url('../styles/login-background.png') no-repeat; */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .login-form {
    background: white;
    padding: 45px 30px;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgb(0, 0, 0, 0.25);
    width: 400px;
  }
  .login-form img {
    width: 65px;
    height: 80px;
    margin: 0 auto;
    display: block;
    margin-bottom: 15px;
  }
  
  .login-form h1 {
    text-transform: uppercase;
    font-weight: bold;
    color: #230871;
    font-size: 20px;
    text-align: center;
  }
  
  .login-form p {
    text-align: center;
    color: #d8b638;
  }
  
  .login-form input {
    width: 100%;
  }
  
  .login-form label {
    font-weight: bold;
  }
  
  .form-label-margin {
    margin-top: 1rem;
  }
  
  .login-form button {
    margin-top: 40px;
    width: 100%;
  }
  
  .signup-form {
    border: 1px solid white;
    border-radius: 10px;
    padding: 25px 0;
    width: 400px;
    margin-top: 2rem;
  }
  
  .signup-form p {
    margin: 0;
    text-align: center;
    color: white;
  }
  
  .signup-form a {
    text-decoration: none;
    color: #d8b638;
    font-weight: bold;
  }
  
  small {
    margin-top: 1rem;
  }